name: Test code base

on:
  pull_request:
    branches:
      - trunk
  push:
    branches:
      - trunk
      - release-*
    tags:
      - v*

jobs:
  test_pip_install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12']
    name: Test with pip install ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run pip install
        run: |
          pip install .

  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.11', '3.12']
    name: Test on ${{ matrix.os }} with pytest ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install requirements
        run: |
          pip install ".[test]"

      - name: Install Spice (https://install.spiceai.org) (Linux)
        if: matrix.os == 'ubuntu-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl https://install.spiceai.org | /bin/bash
          echo "$HOME/.spice/bin" >> $GITHUB_PATH
          $HOME/.spice/bin/spice install
      
      - name: Install Spice (https://install.spiceai.org) (MacOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew install spiceai/spiceai/spice
          brew install spiceai/spiceai/spiced

      - name: install Spice (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          curl -L "https://install.spiceai.org/Install.ps1" -o Install.ps1 && PowerShell -ExecutionPolicy Bypass -File ./Install.ps1

      - name: add Spice bin to PATH (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          Add-Content $env:GITHUB_PATH (Join-Path $HOME ".spice\bin")
        shell: pwsh

      - name: Init and start spice app
        if: matrix.os != 'windows-latest'
        run: |
          spice init spice_qs
          cd spice_qs
          spice add spiceai/quickstart
          spiced &> spice.log &
          # time to initialize added dataset
          sleep 5

      - name: Init and start spice app (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          spice init spice_qs
          cd spice_qs
          spice add spiceai/quickstart
          Start-Process -FilePath spice run
          # time to initialize added dataset
          Start-Sleep -Seconds 5
        shell: pwsh

      - name: Running tests
        env:
          API_KEY: ${{ secrets.API_KEY }}
          # run spice.ai cloud tests only on linux with single python version, to avoid concurrent requests
          TEST_SPICE_CLOUD: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12'}}
        run: |
          pytest -s

      - name: Stop spice and check logs
        working-directory: spice_qs
        if: matrix.os != 'windows-latest' && always()
        run: |
          killall spice || true
          cat spice.log
